<h1> Workout Overview </h1>

<p>
<ul>
<%= @workout.date%>
<br>
<%= @workout.name%> |
<%= @workout.kind%> |
<%= @workout.duration%>
<ul>
<p>
#exercises
<h2>Exercises</h2>
<%= render @workout.exercises%>


<h3>Add an Exercise</h3>
<%= render exercises/form%>

<br>
<%= link_to "Edit Workout", edit_workout_path(@workout)%>
<br>

<br>

<%= link_to "Delete Workout", workout_path(@workout), method: :delete, data: { confirm: "Are you sure you want to delete this workout?"}  %>